#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.container{
  max-width: 40rem;
}

.github{
  border-radius: 20px;
  background-color: #353535;
  height: 2.5rem;
  width: 11rem;
  padding: 0.25rem;

  margin: 0 auto;
  border: 2px solid #262626;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: inset #555555 0 2px, inset #161616 0 -2px, inset #95959514 0 9px 9px;
  color: aliceblue;
  &:hover{
    background-color: #3d3d3d;
    color: rgb(255, 255, 255);
  }
  &:active{
    background-color: #252525;
    color: rgb(133, 137, 141);
  }
  img{
    height: 2rem;
  }
}